body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.calculator {
    border: 3px solid lightblue;
    display: inline-block;
    padding: 10px;
    margin: 20px;
}

#display {
    width: 260px;
    height: 40px;
    text-align: right;
    font-size: 20px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-auto-rows: 50px;
    gap: 5px;
}

button {
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}

.zero {
    grid-column: span 2;
}

.equal {
    grid-row: span 2;
    height: 105px;
}
