<div class="container mt-2">
    <h2 class="mb-2">Mockups</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-controller="Quiz" asp-action="Start">Quiz</a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Quiz" asp-action="Result">QuizResult</a>
        </li>
    </ul>
    <footer class="mt-2 text-muted">
        © 2025 - Backend3
    </footer>
</div>
