* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: white;
    text-align: center;
}
.header, .footer {
    background: green;
    color: white;
    padding: 10px;
}
.header{
    font-family:'Courier New';
}
.content {
    width: 600px;
    margin: 0px auto;
    background: blue;
    color: white;
    padding: 20px;
    text-align: left;
    line-height: 1.5em;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
 .square{
    width: 90px;
    height: 90px;
    border: 4px solid white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    float: left;
    margin: 10px 20px 20px 0px;
}
.content h2{
    word-spacing: 0.5em;
}
ul {
    margin: 10px 0px 10px 20px;
}
.list1 li:first-child {
    color: white;
    margin-left: 20px;
}
.list1 li:nth-child(2) {
    color: lightblue;
    margin-left: 20px;
    letter-spacing: 0.5em;
}
.list1 li:last-child {
    color: white;
    margin-left: 20px;
}
a {
    display: block;
    text-align: center;
    color: red;
    margin-left: auto;
    margin-right: auto;
}
.red {
    color: red;
    font-weight: bold;
}
.blue {
    color: cyan;
    
}
.line {
    text-decoration: line-through;
}
.bottom-block{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.list2{
    line-height: 2em;
    list-style-type: none;
}
.grid-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.grid {
    border-collapse: collapse;
    border: 2px solid white;
}
.grid td {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    vertical-align: bottom;
}
.g1 { background: green; }
.g2, .g3, .g4, .g5, .g6 { background: blue; }
.g7 { background: red; }