*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.content{
    flex: 1;
    margin: 10px;
}

.small_box{
    background-color: aquamarine;
    margin: 20px;
    width: 200px;
    height: 100px;
}

.long_box{
    background-color: bisque;
}