<h2>ModelBindingInParameters</h2>

@if (ViewData["Result"] == null)
{
    <form method="post">
        <input name="a" class="form-control" /><br />
        <select name="operation" class="form-control">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select><br />
        <input name="b" class="form-control" /><br />
        <button type="submit">Submit</button>
    </form>
}
else
{
    <h3>@ViewData["Result"]</h3>
}
